# Package Files #
*.jar
*.war
*.ear
*.mvn
*mvnw
*/target
/bin
*/out
*/META-INF

*.docx
*.txt
*.log.*
*.log
/.classpath
/.project
.settings/

*.idea*
*.project
*.iml

*.md
*.cmd
*.class
/*/.classpath

/target/
